Validacion.dtd

<!ELEMENT minecraftItems (item+)>
<!ELEMENT item (name, type, rarity, damage?, description, materials, enchantments?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT materials (material+)>
<!ELEMENT material (#PCDATA)>
<!ELEMENT enchantments (enchantment)>
<!ELEMENT enchantment (#PCDATA)>
